Source: tup
Section: devel
Priority: optional
Maintainer: Anatol Pomozov <anatol.pomozov@gmail.com>
Build-Depends: debhelper (>= 7),
 libfuse-dev (>= 2.8.1),
 pkg-config (>= 0.22),
 vim-common (>= 7.3),
Standards-Version: 3.8.4
Homepage: http://gittup.org/tup/

Package: tup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libfuse2 (>= 2.8.1)
Description: Fast build system
 Tup is a file-based build system - it inputs a list of file changes and
 a directed acyclic graph (DAG), then processes the DAG to execute
 the appropriate commands required to update dependent files.
 .
 Visit http://gittup.org/tup/ to read about the current state of
 tup's development.
