/* Used for commands */
pre {
	border-style: dashed;
	border-width: 1;
	margin-left: 2em;
	margin-right: 20em;
	padding: 5px 10px 5px 10px;
	background-color: #ffffdd;
}

span.prompt {
	background-color: #888888;
	color: #00ffff;
}

span.fileheader {
	border-style: solid;
	border-width: 1;
	margin-left: 0em;
	margin-right: 0em;
	padding: 0px 10px 0px 10px;
	background-color: #99ff99;
	font-family: Fixed;
}

span.modfileheader {
	border-style: solid;
	border-width: 1;
	margin-left: 0em;
	margin-right: 0em;
	padding: 0px 10px 0px 10px;
	background-color: #99ffff;
	font-family: Fixed;
}

span.samefileheader {
	border-style: solid;
	border-width: 1;
	margin-left: 0em;
	margin-right: 0em;
	padding: 0px 10px 0px 10px;
	background-color: #bbbbbb;
	font-family: Fixed;
}

span.filename {
	font-style: normal;
	background-color: #ddddff;
}

span.keyword {
	font-style: normal;
	font-family: Fixed;
	background-color: #bbbbbb;
	color: #ffff00;
	padding: 2px;
}

span.removed {
	color: #ff0000;
	text-decoration: line-through;
}
span.added {
	background-color:#00ffff;
}

span.cmd {
	background-color: #ffffdd;
	font-family: Fixed;
}

pre.code {
	display: block;
	border-style: dashed;
	border-width: 1;
	margin-left: 2em;
	margin-right: 20em;
	padding: 5px 10px 5px 10px;
	background-color: #eeeeee;
}

div.img {
	margin:5px;
	border-style: double;
	height:auto;
	width:auto;
	float:right;
	text-align:center;
	clear:right;
}

div.img img {
	display:inline;
	margin:3px;
	border:1px solid #ffffff;
}

div.desc {
	text-align:center;
	font-weight:normal;
	margin:2px;
}

img {
	border-style: double;
}
sup {
	color: #0000ff;
}

/* Thanks http://ago.tanfa.co.uk/css/examples/menu/vs1.html */
#menu a, #menu h2 {
	font: bold 12px/16px arial, helvetica, sans-serif;
	display: block;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc #888 #555 #bbb;
	margin: 0;
	padding: 2px 3px;
	width: 98px;
}

#menu h2 {
	color: #fff;
	background: #000;
	text-transform: uppercase;
}

#menu img {
	border-style: none;
}

#menu a {
	color: #000;
	background: #efefef;
	text-decoration: none;
}

#menu a:hover {
	color: #0aa;
	background: #fff;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
