pre {
	border-style: dashed;
	border-width: 1;
	margin-left: 2em;
	margin-right: 2em;
	background-color: #ffffdd;
}
img {
	border-style: double;
}
em {
	background-color: #ffffdd;
}
sup {
	color: #0000ff;
}
