CONFIG_AR=gcc-ar
CONFIG_CFLAGS=-flto -fno-stack-protector -fomit-frame-pointer -fno-common -ffunction-sections -fdata-sections -O3 -march=native
CONFIG_LDFLAGS=-flto -fuse-linker-plugin -fno-stack-protector -fomit-frame-pointer -fno-common -O3 -march=native -s -Xlinker --as-needed -Xlinker -O1 -Xlinker --gc-sections -Xlinker --sort-common -Xlinker --strip-all -Xlinker --relax
