CONFIG_CFLAGS=-W -Wall -Wextra -Wbad-function-cast -Wcast-align -Wcast-qual -Wchar-subscripts -Wmissing-prototypes -Wnested-externs -Wpointer-arith -Wredundant-decls -Wshadow -Wstrict-prototypes -Wwrite-strings -Wswitch-enum -Werror -flto -fno-common -g -Og
CONFIG_AR=gcc-ar
CONFIG_LDFLAGS=-flto -fuse-linker-plugin
